$header-footer: #F7BF4D;
$background: #f9f6e7;
$login-header: #EF6236;


$background-bobatimes-inbox:#f1e9c6;
$background-bobatimes-inbox-text:#eda20b;
$light-white: #FAF6E8;
$really-light-orange:#f59a7f;
$light-grey: #929292
