

html{
  width: 100%
}

.main-nav{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: $header-footer;
  padding-top:10px;
  margin: 0;
  border: 0;
  height: 68px;
  width: 100%;

}

.left-nav {
  margin: 12px 24px;
  font-size: 30px;
}


.left-nav:hover{
  cursor: pointer;

}

.right-nav {
  margin: 12px 24px;
  position: relative;
  width: 35%;
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: white;
    font-family: $header-font;
    font-size: 20px;

  }

}

.main-nav li:hover{
  cursor: pointer;

}
