//
//
.login-form-container {
  background: $background;
  height: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // overflow: auto;

  ul {
    width: 100%;
  }
}
//
//
.login-form-box{
  background-color: inherit;
  // position: absolute;
  padding: 15px;
  margin-top: 80px;
  width: 40%;
}
//
.login-form{
  text-align: center;
}
//
.login-header{
  color: $login-header;
  font-family: $header-font;
  line-height: 34px;
  font-size: 34px;
  padding-bottom: 15px;
  font-weight: 600;
}


.login-text{
  font-family: $header-font;
  color: #333;
  font-size: 18px;
  display: flex;
  line-height: 29px;
  font-weight: 450;
  padding-bottom: 15px;

}


.session-form{
  background-color: white;
  width: 90%;
  border: 1px solid grey;
  height: 18px;
  padding: 18px;
  margin: 10px 0px;
  font-size: 18px;
  border-radius: 6px;
  text-align: left;
  font-family: $header-font
}


.session-submit{
  width: 100%;
  background-color: #eb652f;
  color: white;
  height: 70px;
  font-size: 22px;
  border-radius: 12px;
  border: 2px;
  margin: 10px 0px;
  font-family: sans-serif;
}


.session-submit:hover{
  background-color: #ed501e;
  cursor: pointer;
}

.alternate {
  text-align: center;
  color: #0060B6;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  padding-top: 15px;
}

a:visited {
  color:#eb652f;
  text-decoration: inherit;
}


.session-errors{
    background-color: #eb652f;
    color: white;
    height: 60px;
    font-size: 22px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
